body {
    background: linear-gradient(-45deg, rgba(255,237,0,1) 0%, rgba(255,0,89,1) 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.dapp {
    z-index: 1;
}

.glassPanel {
    background: rgba(0, 0, 0, 0.6);
}

.blackNavbar {
    background-color: #000;
}

.greenBorder {
    border: 1px solid #02d102;
}

.redBorder {
    border: 1px solid #d90000;
}

.whiteBorder {
    border: 1px solid #fff;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.zoom img:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
}

.pulse a:hover{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);
  100% { transform: scale(1); }
  }
}